package namer;
public class Name {

          public static void main(String[] args){
              double a = 12; 
              double b = 9; 
              double c = Math.sqrt (a * a + b * b);
              System.out.println("Gipotenuza = "+c);
           }
}
